@model FilmViewModel

<strong>Titel</strong>
<p>@Model.Titel</p>

<strong>Duur</strong>
<p>@Model.Duur</p>

<strong>Director</strong>
<p>@Model.Director</p>

<strong>ProductionCompany</strong>
<p>@Model.ProductionCompany</p>

<strong>PublishDate</strong>
<p>@Model.PublishDate.ToString("dd,MM,yyyy")</p>

<strong>Taal</strong>
<p>@Model.Taal</p>